* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.animate-duration {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/* Start Header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
header .container i {
  color: #35a22c;
  font-size: 3rem;
}
header .navbar-brand {
  font-size: 2rem;
}
header .navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.5s;
}
header .nav-item::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #35a22c;
  transition: 0.5s;
}
header .nav-item.active::after {
  width: 100%;
}
header .nav-item:hover::after {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
}
/* Start Carousel */
.carousel-img-h {
  height: 100vh;
  object-fit: cover;
}
.carousel-img-item {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.carousel-indicators {
  bottom: 10%;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #35a22c;
}
#carousel .carousel-item::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
#carousel .carousel-caption {
  bottom: 25%;
}
#carousel h5::after {
  content: "Our goals. Our misson.";
  font-size: 3.5rem;
  font-weight: 400;
}
#carousel h5 {
  opacity: 0;
  animation-delay: 0.75s;
}
#carousel p {
  opacity: 0;
  animation-delay: 1.75s;
  font-size: 1.5rem;
}
/* Start Product */
#product .item-content {
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  text-align: center;
}
#product .item-content img {
  width: 100%;
  object-fit: cover;
}
#product .item-content .product-title {
  height: 140px;
  padding: 20px;
  border: solid white;
  border-radius: 0px 0px 10px 10px;
  transition: 0.5s;
}
#product .item-content .product-title h5 {
  height: 50px;
  overflow: hidden;
}
#product .item-content:hover .product-title {
  border: solid #35a22c;
  border-top: solid white;
  color: #35a22c;
}
.product-content li {
  padding: 0.5rem;
}
.product-content a {
  border: 1px solid;
  color: black;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #35a22c;
}
/* Start Skills */
#skills .container-fluid {
  position: relative;
  background-image: url(./portfolio-image/image/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#skills .container-fluid::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
#skills .container p {
  /* position: relative; */ /* đoạn này có thể sử dụng postion: relative thay cho filter: brightness (100%) để làm text sáng, rõ hơn */
  filter: brightness(100%);
}
.skills-content {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  transition: 0.5s;
}
.skills-content:hover {
  background-color: black;
  border-color: white;
}
.skills-content i {
  color: #35a22c;
  font-size: 3rem;
}
/* Start Award */
#award {
  position: relative;
}
.award-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-image: url(./portfolio-image/image/memphis_3.png);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.award-title {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
#award ul {
  display: flex;
  list-style: none;
}
#award ul li {
  width: 20%;
  padding: 5px;
}
#award ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Start Footer */
footer {
  background-color: black;
}
footer .container:first-of-type {
  border-bottom: 1.5px solid #454545;
}
footer a {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border: 1.5px solid #454545;
  border-radius: 50%;
  color: #aaa;
  transition: 0.5s;
}
footer a:hover {
  text-decoration: none;
  border-color: #35a22c;
  color: #35a22c;
}
footer p {
  color: #aaa;
}
